{% extends "base.html" %}
{% block content %}
  <h1>Luo uusi asiakas</h1>
  <form>
    <div class="form-group">
      <label>Sukunimi</label>
      <input class="form-control" value="Meikäläinen" type="text">
    </div>
    <div class="form-group">
      <label>Etunimi</label>
      <input class="form-control" value="Matti" type="text">
    </div>
    <div class="form-group">
      <label>Henkilötunnus</label>
      <input class="form-control" value="010199-101A" type="text">
    </div>
    <div class="form-group">
      <label>Katuosoite</label>
      <input class="form-control" value="Mannerheimintie 1" type="text">
    </div>
    <div class="form-group">
      <label>Postinumero</label>
      <input class="form-control" value="00000" type="text">
    </div>
    <div class="form-group">
      <label>Postitoimipaikka</label>
      <input class="form-control" value="Helsinki" type="text">
    </div>
    <div class="form-group">
      <label>Puhelinnumero</label>
      <input class="form-control" value="050-0100100" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Tallenna</button>
      <button type="submit" class="btn btn-danger">Peruuta</button>
    </div>
  </form>
{% endblock %}
