{% extends "base.html" %}
{% block content %}
  <h1>Toimihenkilön palvelu</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  <div class="form-group">
    <a href="{{base_path}}/customer/new" class="btn btn-default">Luo asiakas</button></a>
    <a href="{{base_path}}/user/new" class="btn btn-default">Luo käyttäjätunnus</button></a>
  </div>

  <h3>Löydetyt asiakkaat</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sukunimi</th>
        <th>Etunimi</th>
        <th>Henkilötunnus</th>
        <th>Asiakastunnus</th>
        <th>Tila</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      {% for customer in customers %}
        <tr>
          <td>{{customer.sukunimi}}</a></td>
          <td>{{customer.etunimi}}</td>
          <td>{{customer.henkilotunnus}}</td>
          <td>{{customer.id}}</td>
          <td><label class="label label-danger">{{customer.tila}}</label></td>
          <th><a class="btn btn-default btn-sm" href="{{base_path}}/customer/{{customer.id}}">Avaa</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
