{% extends "base.html" %}
{% block content %}
  <h1>Asiakkaan verkkopalvelu näkymä</h1>

  <div class="alert alert-success">
    {{message}}
  </div>

  <h4>Asiakkaan tiedot:</h4>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sukunimi</th>
        <th>Etunimi</th>
        <th>Henkilötunnus</th>
        <th>Asiakastunnus</th>
        <th>Tila</th>
        <th></th>
      </tr>
    </thead>
  </table>

  <h4>Asiakkan sopimukset: </h4>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Turvan suuruus</th>
        <th>Vakuutusmaksu</th>
        <th>Tila</th>
        <th></th>
      </tr>
    </thead>
  </table>

{% endblock %}
