{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>

  <div class="alert alert-success">
    {{message}}
  </div>

  <div class="alert alert-danger">
    {{error}}
  </div>

  <form method="post" action="{{base_path}}/user/login">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="username" values="{{username}}" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="password" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}
