{% extends "base.html" %}
{% block content %}
  <h1>Poista asiakas</h1>
  <form method="post" action="{{base_path}}/customer/{{customer.id}}/destroy">
    <div class="alert alert-success">
      {{message}}
    </div>
    
    <ul>
      <li><strong>Asiakastunnus: </strong>{{customer.id}}</li>
      <li><strong>Tila: </strong> <label class="label label-danger">{{customer.tila}}</label></li>
      <li><strong>Henkilötunnus: </strong>{{customer.henkilotunnus}}</li>
      <li><strong>Sukunimi: </strong>{{customer.sukunimi}}</li>
      <li><strong>Etunimi: </strong>{{customer.etunimi}}</li>
      <li><strong>Katuosoite: </strong>{{customer.katuosoite}}</li>
      <li><strong>Postinumero: </strong>{{customer.postinumero}}</li>
      <li><strong>Postitoimipaikka: </strong>{{customer.postitoimipaikka}}</li>
      <li><strong>Puhelinnumero: </strong> {{customer.puhelinnumero}}</li>
    </ul>

    <div class="form-group">
      <button type="submit" class="btn btn-danger">Poista</button>
      <a href="{{base_path}}/customer" class="btn btn-default">Palaa</button></a>
    </div>
  </form>
{% endblock %}
